.gallery > div {
  /*Calculates the columns for gallery images*/
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 10px;
  background-color: #b99cb3;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  padding: 10px 10px 0px 8px;
}

.pages {
  margin: 10px;
  text-align: center;
}

.pages #prev {
  float: left;
}

.pages #next {
  float: right;
}

.main-container {
  margin: auto auto;
  width: 80%;
  max-width: 700px;
}

.image-con {
  display: block;
  position: relative;
}

.grid img {
  /*evens height and width with same aspect ratio*/
  aspect-ratio: 1 / 1;
  object-fit: cover;
  width: 100%;
  margin-bottom: 5px;
  border: 2px solid #4d0b3f;
  border-radius: 5px;
}

.favorite {
  color: #a143d8;
  height: 20px;
  width: 100%;
  position: absolute;
  bottom: 15px;
  text-align: right;
  z-index: 500;
  display: block;
}
